*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{

width: 100%;
height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(79, 252, 194, 0.573);
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#ptop{
    padding: 0 25%;
    width:100%;
    height: 100px;
    background-color: rgb(23, 94, 70);
display: flex;
align-items: center;
justify-content: space-between;
color: #fff;
}


#elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box{
    color: rgb(78, 173, 124);

    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}
#pbtm{
    width:100%;
    height:calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;

}
#bbl{
    margin: 5px;
width: 50px;
height: 50px;
background-color: rgb(57, 123, 92);
color: #fff;
border-radius: 50%;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center;



}
#bbl:hover{
    cursor: pointer;
    background-color: rgb(28, 57, 43);
}

